include README.md
include agent_runner_v2/*.json
include agent_runner_v2/*.md
recursive-include agent_runner_v2/prompts *.txt *.md
recursive-include agent_runner_v2/bootstrap/workflows/default *.json *.py
recursive-include agent_runner_v2/bootstrap/workflows/default/prompts *.txt *.md
